@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Szczegóły</h1>
<br />
<div style="padding: 20px; background-color: #578CB5;
               border-radius: 25px; box-shadow: 0 0 15px;
               "
     class="mb-3">
<h5>Model auta: @Model.Model</h5>
<h5>Producent: @Model.Manufacturer</h5>
<h5>Pojemność silnika: @Model.EngineCapacity cm3</h5>
<h5 class="">Moc silnika: @Model.Power koni mechanicznych</h5>
<h5 class="">Rodzaj silnika: @Model.EngineType</h5>
<h5 class="">Właściciel: @Model.Owner</h5>
<h5 class="">Numer rejestracyjny: @Model.RegistrationNumber</h5>
<h5 class="">Data dodania samochodu do systemu: @Model.PublicationDate</h5>
</div>
<a class="btn btn-outline-primary" asp-action="Index">Powrót</a>